<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/showthelove.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">#showthelove</h2>
        <div class="date">
            <p>feb. 14th, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            Pozdravljeni, uvidevneži! Danes je Valentinovo in želeli smo pokazati ljubezen do našega planeta. 
            Tudi vi lahko pokažete svojo ljubezen, in sicer tako, da se odpravite ...
        <a href="{{ site.baseurl }}/showthelove-si.html" >Preberi več</a>
        </p>
    </div>
</div>

<!--<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/shirtdress.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">2nd post</h2>
        <div class="date">
            <p>feb. 16th, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            You can use our website without sharing any of your personal data with us. We ask you for some data, and this is completely voluntarily which means that you are not obliged to use the...
        <a href="{{ site.baseurl }}/post_2.html" >Read more</a>
        </p>
    </div>
</div>-->