<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/green.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">Green your commute</h2>
        <div class="date">
            <p>feb. 20th, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            This week we're starting our "Keep the world spinning (with us on it)" series, and this is our firs tip. 
            It's a big one, and we're all guilty of it....
        <a href="{{ site.baseurl }}/greenyourcommute.html" >Read more</a>
        </p>
    </div>
</div>
<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/showthelove.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">#showthelove</h2>
        <div class="date">
            <p>feb. 14th, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
             Hello, the considerates. It's Valentines day, and we want to show the love for our planet. You can show the love, too. Head over...
        <a href="{{ site.baseurl }}/showthelove.html" >Read more</a>
        </p>
    </div>
</div>

