<section class="bg-primary padding-0" id="about">
    <div class="container padding-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">Privacy policy</h2>
                <hr class="colour">
                <p class="text-faded">
                    You can use our website without sharing any of your personal data with us. We ask you for some data, and this is completely voluntarily which means that you are not obliged to use the features like comments and contact forms. We are not sharing your information with others. 
                </p>
                <h2 class="section-title">Cookies</h2>
                <hr class="colour">
                <p class="text-faded">
                    movinun.com stores cookies. Cookies are small pieces of information stored in the visitors browser. They enable a better user experience and various features.

                    By visiting this website you agree to accept cookies. Information about removing cookies and even preventing them from being saved can be found here: <a href="http://tools.google.com/dlpage/gaoptout?hl=en">http://www.wikihow.com/Disable-Cookies</a>.
                </p>
                <h2 class="section-title">Google analytics</h2>
                <hr class="colour">
                <p class="text-faded">
                    movinun.com uses Google Analytics, a web analytics service. It uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site.

                    You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. You can also opt-out from being tracked by Google Analytics with effect for the future by downloading and installing <a href="http://tools.google.com/dlpage/gaoptout?hl=en">Google Analytics Opt-out Browser Addon for your current web browser</a>.
                </p>
            </div>
        </div>
    </div>
</section>