<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/thatsrubbish.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">To so smeti</h2>
        <div class="date">
            <p>28. februar, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            No, tudi drugi opomnik, kako lahko pomagamo okolju, je nekaj, kar pravzaprav vsi vemo. Je pa enako pomemben kot potovati zeleno...
        <a href="{{ site.baseurl }}/thatsrubbish-si.html" >Preberi več</a>
        </p>
    </div>
</div>
<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/green.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">Potujmo zeleno</h2>
        <div class="date">
            <p>20. februar, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            Ta teden začenjamo s serijo nasvetov "Naj se svet vrti še naprej (z nami na njem)". To je naša prva objava na to temo. Je kar pomembna in se tiče vseh.
        <a href="{{ site.baseurl }}/potujmozeleno.html" >Preberi več</a>
        </p>
    </div>
</div>
<div class="posts row">
    <div class="thumb col-lg-3 col-md-3 col-sm-3 pull-left"><img src="{{ site.baseurl }}/img/showthelove.jpg" alt="dress">
    </div>
    <div class="post-excerpt col-lg-9 col-md-9 col-sm-8 pull-right">
        <h2 class="post-title">#showthelove</h2>
        <div class="date">
            <p>14. februar, 2016</p>
        </div>
        <hr class="colour">
        <p class="text-faded">
            Pozdravljeni, uvidevneži! Danes je Valentinovo in želeli smo pokazati ljubezen do našega planeta. 
            Tudi vi lahko pokažete svojo ljubezen, in sicer tako, da se odpravite ...
        <a href="{{ site.baseurl }}/showthelove-si.html" >Preberi več</a>
        </p>
    </div>
</div>
