<section class="bg-primary padding-0" id="about">
    <div class="container padding-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">Naj se svet vrti še naprej - z nami na njem</h2>
                <hr class="colour">
                <p class="text-faded">
                    Pravkar počnemo nekaj zabavnega in koristnega - nekaj, kar bo namenjeno temu, da  <span>ponudi etična in trajnostna oblačila v skladu s pravično trgovino</span>, poleg tega pa <span>še kakšen nasvet in namig o tem, kaj lahko stori vsak izmed nas</span>, da bi svet spravili nazaj v prave tirnice.
                </p>
                <p class="text-faded">
                    A ne, ne zahtevamo, da bi se odpovedali zabavi, dobri glasbi, odlični hrani, potovanjem ali čemu drugemu, kar nam ponuja svet. Želimo ohraniti vse to in zagotoviti, da se bo svet še naprej vrtel z nami na njem.
                </p>
                <p class="text-faded">
                    Movi nun pomeni "zmigaj se". Ime smo si izbrali, ker ne želimo biti le opazovalci, želimo si ukrepati in pomagati, kjer lahko.
                </p>
                <p class="text-faded">
                    Pridi, pridruži se skupnosti Movinun, da skupaj izboljšamo in premaknemo svet.
                </p>

            </div>
        </div>
    </div>
    <div class="second-form">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//movinun.us12.list-manage.com/subscribe/post?u=3c71e18b2eeb28beac9f6ed18&amp;id=5a7c2bbb43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="small-print">Prijavljam se na sporočilnik Movinun.</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e-naslov" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c71e18b2eeb28beac9f6ed18_5a7c2bbb43" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Zmigaj se" name="subscribe" id="mc-embedded-subscribe" class="btn btn-color btn-primary"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
</section>
<section id="social" class="bg-primary padding-0" id="about">
            <div class="container padding-50">
                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">Pridruži se nam</h2>
                <hr class="colour">
                <p class="text-faded">
                Pridruži se Movinun skupnosti na: 
                </p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/movinun/" id="fbShare" class="icon facebook">Facebooku</a></li>
                    <li><a href="https://www.instagram.com/movinun.movinun/" class="icon instagram">Instagramu</a></li>
                    <li><a target="_blank" href="https://twitter.com/movinun"  class="icon twitter" target="_blank">Twitterju</a></li>
                </ul>
               <!-- <p class="press-kit">
                    <a href="press/">View the Press Kit online</a>
                </p>-->
            </div>
            </div>
            </div>
            <div class="container padding-bottom">
                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">in razširi glas.</h2>
                <hr class="colour">
                <p class="text-faded">
                    Če se ti zdi ideja zanimiva, nam pomagaj širiti vest o Movinun uvidevnežih.
                </p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=movinun.com" id="fbShare" class="icon facebook">Deli na Facebooku</a></li>
                    <li><a target="_blank" href="http://ctt.ec/70Ku5"  class="icon twitter" target="_blank">Deli na Twitterju</a></li>
                    <li><a href="mailto:?subject=This awesome new ethical fashion brand&amp;body=Check them out http://www.movinun.com."
   title="Share by Email" class="icon email">Deli po e-pošti</a></li>
                </ul>
               <!-- <p class="press-kit">
                    <a href="press/">View the Press Kit online</a>
                </p>-->
            </div>
            </div>
            </div>
</section>
