<section class="bg-primary padding-0" id="about">
    <div class="container padding-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">Let's keep the world spinning - with us on it</h2>
                <hr class="colour">
                <p class="text-faded">
                    You can be whoever you want. You can work hard (or not), you can party, drink, be a foodie, travel, stay home… Be gay, be straight, be a feminist. Wear black, wear pink, long hair, short hair… Whatever it is, it’s fine. No judging here, we promisse. 
                </p>
                <p class="text-faded">
                    We just ask one thing from you. Don't be a jerk, ok? Be good.
                </p>
                <p class="text-faded">
                    We are working on something really cool, something that's going to be focused on bringing you ethical, sustainable and fair trade products, but also tips and tricks on what each of us can do to put the world back on the right tracks.
                </p>
                <p class="text-faded">
                    And no, we haven’t given up partying, good music, good food, travel and any other fun and amazing stuff the world has to offer.
                </p>
                <p class="text-faded">
                    We’re extending that offer, actually. We want the world to keep spinning, with us on it.
                </p>
                <p class="text-faded">
                    So go on, get on that newsletter and let's do this. 
                    </br>
                </p>

            </div>
        </div>
    </div>
    <div class="second-form">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//movinun.us12.list-manage.com/subscribe/post?u=3c71e18b2eeb28beac9f6ed18&amp;id=5a7c2bbb43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="small-print">Get notified as soon as we launch.</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c71e18b2eeb28beac9f6ed18_5a7c2bbb43" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Get notified" name="subscribe" id="mc-embedded-subscribe" class="btn btn-color btn-primary"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
</section>
<section id="social" class="bg-primary padding-0" id="about">
            <div class="container padding-50">
                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-title">Spread the word.</h2>
                <hr class="colour">
                <p class="text-faded">
                    If you're excited about what's happening here,<br />
                    help us spread the word about Movinun.
                </p>
                <ul class="social">
                    <li><a target="_blank" href="http://ctt.ec/70Ku5"  class="icon twitter" target="_blank">Share on Twitter</a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=movinun.com" id="fbShare" class="icon facebook">Share on Facebook</a></li>
                    <li><a href="mailto:?subject=This awesome new ethical fashion brand&amp;body=Check them out http://www.movinun.com."
   title="Share by Email" class="icon email">Share through email</a></li>
                </ul>
               <!-- <p class="press-kit">
                    <a href="press/">View the Press Kit online</a>
                </p>-->
            </div>
            </div>
            </div>
</section>
