.email {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	padding: 10px 5px;

	@media (max-width: 512px) {
		width: 80%;
	}
}

.secondary-color {
	color: $secondary-color;
}

.top-margin {
	margin-top: 100px;
}

.small-print {
	font-weight: 300;
	margin-bottom: 0;
	color: #7D7878;
	font-size: 10px;
}

.page-title {
	color: #ADCEC8;
}

.logo {
	margin: 0 auto;
	text-align: center;
	width: 230px;
	margin-bottom: 10px;

}

.section-title {
	text-align: left;
	color: $theme-dark;
	font-size: 24px;
}

.text-faded {
	font-weight: 300;
}

.colour {
	margin: 20px 0;
	border-color: #E9455E;
}

.colour-2 {
	margin: 20px 0;
	border-color: #7D7878;
}

.input-group {
	display: block;
	text-align: left;
}

.input-group .form-control {
	width: 30%;

	@media (max-width: 768px) {
		width: 50%;
	}
}

.form-group {
	display: inline-block;
	text-align: center;
}

.btn-color {
    background-color: #E9455E;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    padding: 10px 20px;
    display: inline-block;

	@media (max-width: 768px) {
		display: block;
		width: 50%;
	}
}

.second-form {
	background-color: #BDCCD4;
	padding: 30px;
	width: 100%;
	text-align: center;
}

.padding-0 {
	padding: 0;
}

.padding-50 {
	padding: 50px 0;

	@media (max-width: 850px) {
		padding: 50px;
	}
}

#social {
		background-color: #f7f7f7;
	}

		#social p {
			font-size: 16px;
			margin-bottom: 2em;
		}

		.social {
				max-width: 255px;
				overflow: hidden;
				margin: 0 0 2.5em 0;
				padding-left: 0;
			}

				.social li {
					width: 26%;
					margin-left: 11%;
					float: left;
				}

				.social li:first-child {
					margin-left: 0;
				}

				.social .icon {
					width: 100%;
					height: 0px;
					padding-top: 100%;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
					display: block;
				}

				.social .facebook {
					background: url('../img/icons/facebook.png') no-repeat;
					background-size: 100%;
				}

				.social .twitter {
					background: url('../img/icons/twitter.png') no-repeat;
					background-size: 100%;
				}

				.social .email {
					background: url('../img/icons/mail.png') no-repeat;
					background-size: 100%;
				}

			#social .press-kit {
				margin-bottom: 0;
				font-size: 0.8em;
				text-align: left;
			}

			.press-kit a {
				display: inline-block;
				text-decoration: underline;
				text-transform: uppercase;
				font-weight: 300;
				color: #E9455E;
			}

			.press-kit a:hover {
				text-decoration: none;
			}

.footer {
	padding: 10px 80px;
	background-color: #7D7878;
	text-align: center;
}


