<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
 	<section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	{% include blogging.html %}
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>