<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
<a href="/si"><img src="img/logo.png" class="logo-center" alt=""></a>
 	<section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">To je Movinun blog - zbirka drobnih nasvetov, trikov in informacij</h1>
    <div class="container padding-50">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	{% include blogging_si.html %}
            </div>
        </div>
    </div>
</section>
  {% include footersi.html %}
</body>

</html>