<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
<a href="/si"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">To je Movinun blog - zbirka drobnih nasvetov, trikov in informacij</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/showthelove.jpg" alt="dress">
                    <h2 class="post-title">#showthelove</h2>
                    <div class="date">
                        <p>feb. 14th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                        Pozdravljeni, uvidevneži!
                        </br></br>
                        Danes je Valentinovo in želeli smo pokazati ljubezen do našega planeta. 
                        Tudi vi lahko pokažete svojo ljubezen, in sicer tako, da se odpravite <a href="http://bit.ly/1QTqTzr">semkaj</a> in sodelujete v #showthelove kampanji. To je eden izmed načinov, da pokažemo svetovnim voditeljem, da nam ni vseeno glede klimatske krize.
                    </p>
                    <hr class="colour">
                    <p class="text-faded">
                        V naslednjem tednu pri Movinunu začenjamo s serijo kratkih nasvetov o tem, kaj lahko vsakdo od nas stori, da bi omogočil svetu, da se vrti še naprej (z nami na njem).
                        Vsak teden vam bomo pripravili (in tudi nam samim, seveda) po en droben nasvet. Saj to ni preveč, kajne? Enega novega na teden bomo zmogli. 
                        </br></br>
                        Bistvo te serije nasvetov je v zmanjšanju našega ogljičnega odtisa (carbon footprint). Ne glede na to, kako majhen mislite, da je vaš, še vedno igra vlogo v klimatskih spremembah.
                        </br></br>
                        Vemo, da vam je vse to znano, ampak zdi se nam, da je kdaj pa kdaj dobro biti opomnjen.
                        </br>
                        Kakorkoli že, poskrbeli bomo, da bo zanimivo.
                        </br></br>
                        Do takrat pa lahko izpolnite tole anketo: 
                        <a href="http://www.umanotera.org/kaj-delamo/trajne-vsebine-projekti-kampanje/podnebne-spremembe/izracunaj-svoj-ogljicni-odtis/" target="_blank">Izračun ogljičnega odtisa</a>
                    </p>
                    <a href="{{ site.baseurl }}/blogpostssi.html">Nazaj</a>
            </div>
        </div>
    </div>
</section>
  {% include footersi.html %}
</body>

</html>