<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/thatsrubbish.jpg" alt="dress">
                    <h2 class="post-title">That's rubbish</h2>
                    <div class="date">
                        <p>feb. 28th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    So...Our second reminder about what we can do to help the environment is again something we all know. It's just as important as greening your commute.
                    </br></br>
                    <span>REDUCE YOUR WASTE</span>
                    </br></br>
                    We can acomplish this in many different ways, so we're going to give you some ideas on how you can get started. If you're already conscious about that topic, perhaps there's something here that you don't know already.</br></br>
                    There are two main aspects of doing this:
                    </p>
                    <p class="text-faded">
                    <span>1. Shopping</span>
                    </br>
                    The obvious one is of course, bring a re-usable bag. If you're buying small things, you don't even need a bag. Most of us carry large bags around, so sometimes there really is no need for an extra bag. But if you forget your own and really need one, take a paper bag or a degradable one. Environment will thank you. 
                    Next step before you start shopping, think. Think about what you're buying. Can you buy the same thing with less packaging? The things that you use often, can you buy in bulk? That way, you can usually save some money and won't fill up your bin as much. Although, be carefull about double packaging here. 
                    Another thing to consider is also, can you buy secondhand or maybe even borrow? Especially items that you won't be using daily. It's something to consider. Also, you can call it vintage. :)
                    Buy items that can be reused, like rechargable batteries. They are so much better than disposables and you know that you'll alays have them when you need them.
                    </p>
                    <p class="text-faded">
                    <span>2. Home</span>
                    </br>
                    Sometimes things that we no loger want or use can be just what someone else needs. So don't throw away your old sofas or books just yet. Maybe you can even sell them and make some money. 
                    Sometimes things that we no loger want or use can be just what someone else needs. So don't throw away your old sofas or books just yet. Maybe you can even sell them and make some money. 
                    When you cook, try not to prepare too much food. We usually hear about how much food we eat, but the food that we don't eat doesn't get talked about as much. In restaurants you get what's on the menu, but at home, you really can reduce food waste significantly. 
                    For other things in your home, recycle and upcycle. Recycle your old clothes, olp paper, glass bottles... And you can upcycle pretty much anything. There are so many tips and tricks online about the art of upcycling. You get to be creative and it's fun. And you'll appreciate things more if you had to put some work and time into it. 
                    </br></br>
                    There are many more things you can do to reduce your waste, these are just some examples to help you get started. 
                    </p>
                    <p class="text-faded">
                    Comments are (for now) welcome on our <a href="https://www.facebook.com/movinun" target="_blank">Facebook</a> page, we'll be happy to hear any suggestions.
                    </p>
                    <a href="{{ site.baseurl }}/blogposts.html">Back</a>
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>