<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/showthelove.jpg" alt="dress">
                    <h2 class="post-title">#showthelove</h2>
                    <div class="date">
                        <p>feb. 14th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                        Hello, the considerates. 
                        </br></br>
                        It's Valentines day, and we want to show the love for our planet. You can show the love, too. Head over <a href="http://bit.ly/1QTqTzr" target="_blank">here</a>, and participate in <span>#showthelove</span> campaign. Let's show the world leaders that we care deeply about ending the climate crisis.
                    </p>
                    <hr class="colour">
                    <p class="text-faded">
                        Next week we're starting with the series of short tips of what you can do to keep our world spinning (with us on it). Every week we'll give you (and ourselves, of course) one small tip. That's not too much, is it? We can do one new per week.
                        </br></br>
                        These series are about reducing our carbon footprint. No matter how small you think yours is, it still has a role in climate change. 
                        </br></br>
                        We're sure you know this stuff, but it's good to get a reminder every once in a while, right? 
                        </br>
                        Anyway, we're gonna keep it interesting.
                        Until then, you can take this fun survey:
                        <a href="http://wwf.panda.org/how_you_can_help/live_green/footprint_calculator/" target="_blank">Footprint Calculator</a>
                    </p>
                    <a href="{{ site.baseurl }}/blogposts.html">Back</a>
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>