<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/gots.jpg" alt="dress">
                    <h2 class="post-title">What is GOTS (global organic textile standard?)</h2>
                    <div class="date">
                        <p>mar. 20th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    As you may know, we have decided to work with textiles that are certified with Global organic textile standard (GOTS). What the hell is that? ;)
                    </br></br>
                    We consider it to be a good thing, as GOTS (http://www.global-standard.org/) is a standard that guarentees that textiles all across the supply chain (from planting to manufacturing) follow environmentally and socially responsible practices. Those are ensured by certification of the entire supply chain. Each producer in the supply chain is audited at least every three years (most of them annually), occasionally a suprise audit is done. Each of the supplier needs to comply with different criteria of environment protection (such as soil, chemicals, waste, water, energy ...) and social protection (such as employment, work conditions, human development, human rights, sustainability, compliance with legislation ...).</br>
                    </p>
                    <p class="text-faded">
                    The GOTS was developed through collaboration of different standard setters. It ensures that product is made of at least 70 % organic fibres (label-grade 2) or at least 95 % organic fibres (label-grade 1). We are using label-grade 1 textiles for production of our apparel, as we want to provide customers clothes that are ethically acceptable both from environmental as well as social aspect and we aim to obtain GOTS certificate as soon as possible. To help you become even better (looking). ;)                 </p>
                    <p class="text-faded">
                    You can watch this <a href="www.youtube.com/watch?v=TMmLCPuerQg" target="_blank">video</a> for more information.</p>
                    <p class="text-faded">
                    Comments are (for now) welcome on our <a href="https://www.facebook.com/movinun" target="_blank">Facebook</a> page, we'll be happy to hear any suggestions.
                    </p>
                    <a href="{{ site.baseurl }}/blogposts.html">Back</a>
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>