<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/shirtdress.jpg" alt="dress">
                    <h2 class="post-title">2nd post</h2>
                    <div class="date">
                        <p>feb. 16th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                        You can use our website without sharing any of your personal data with us. We ask you for some data, and this is completely voluntarily which means that you are not obliged to use the ...
                        You can use our website without sharing any of your personal data with us. We ask you for some data, and this is completely voluntarily which means that you are not obliged to use the ...
                    </p>
                    <a href="{{ site.baseurl }}/blogposts.html" class="col-lg-2 pull-right">Back</a>
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>