<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<a href="/"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">This is Movinun blog - collection of Tips and Tricks and Information</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/thatsrubbish.jpg" alt="dress">
                    <h2 class="post-title">Green your commute</h2>
                    <div class="date">
                        <p>feb. 20th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    This week we're starting our "Keep the world spinning (with us on it)" series, and this is our firs tip. It's a big one, and we're all guilty of it.
                    </br></br>
                    <span>GREEN YOUR COMMUTE</span>
                    </br></br>
                    We all know this one, but we're pretty much all still doing it. It's just so easy to get in your car, without having to wait for a bus, right? Or giving all that effort to cycling or even worse - walking. Especially if it's cold or raining. Or if it's too hot. All that sweat, and then you have to shower... Yeah, we know.</br>
                    We don't expect you to walk barefoot in the snow, but why not just try to take the bus or cycle or walk when you can? For example, when the weather is ok. And if you plan your day, you won't be in a hurry that much, so you'll have time to enjoy your time outside, walk slower and not sweat so much?</br>
                    You'll take care of your exercise and your body will thank you. You'll feel better, breathing some fresh air every day. Your fitness tracker won't know what hit it. And of course, knowing that because of you less fuel has been consumed, is a great thing.
                    </p>
                    <p class="text-faded">
                    We'll give you some facts: 
                    </br></br>
                    Walking instead of driving to work or school every day can reduce carbon
                    dioxide (CO2) emissions by approximately 300 kg (660 lb) per year for a round trip that is 5 km (3.1 miles) long. </br>
                    And of course, health. If you walk regularly, you lessen the risk of type 2 diabetes by around 60 percent, and your chance of getting the colon, breast or womb cancer is 20 percent lower.
                    </br></br>
                    <span>So, move now! ;)</span>
                    </p>
                    <a href="{{ site.baseurl }}/blogposts.html">Back</a>
            </div>
        </div>
    </div>
</section>
  {% include footer.html %}
</body>

</html>