<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
<a href="/si"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">To je Movinun blog - zbirka drobnih nasvetov, trikov in informacij</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		 <img src="{{ site.baseurl }}/img/thatsrubbish.jpg" alt="dress">
                    <h2 class="post-title">Potujmo zeleno</h2>
                    <div class="date">
                        <p>20. februar, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    Ta teden začenjamo s serijo nasvetov "Naj se svet vrti še naprej (z nami na njem)". To je naša prva objava na to temo. Je kar pomembna in se tiče vseh.
                    </br></br>
                    <span>POTUJMO ZELENO</span>
                    </br></br>
                    Vsi vemo za ta problem pa vendar nas večina še vedno to počne. Je pač lahko, vsesti se v avto, brez čakanja na avtobus ali brez napornega potiskanja pedal ali - še huje - hoje. Še posebej, če je hladno ali dežuje. Ali pa, če je prevroče. Ves ta pot in potem obvezno tuširanje ... Vemo.</br>
                    Saj ne mislimo, da bi hodili bosi v snegu, ampak zakaj ne bi šli na avtobus, kolo ali sprehod takrat, kadar lahko. Na primer, ko je vreme v redu. Če načrtujete svoj dan, se vam tudi ne bo mudilo, lahko boste uživali na prostem, hodili počasneje in se ne toliko potili.</br>
                    Poskrbeli boste za svojo vadbo in telo vam bo hvaležno. Počutili se boste bolje, ko boste vsak dan dihali svež zrak. Vaši pametni merilniki (fitness tracker-ji) ne bodo vedeli, kaj jih je doletelo. Pa tudi zavedanje, da je poraba goriva zaradi vas manjša, je prijetno. 
                    </p>
                    <p class="text-faded">
                    Naj navedemo še nekaj dejstev: 
                    </br></br>
                    Vsakodnevna hoja namesto vožnje v šolo ali v službo pri poti, ki znaša 5 km v obe smeri, zmanjša izpust CO2 za približno 300 kg letno.
                    </br>
                    Kar se tiče zdravja - če hodite redno se vaša verjetnost, da boste zboleli za diabetesom tipa 2, zmanjša za približno 60 odstotkov, verjetnost, da zbolite za rakom na prsih, maternici ali debelem črevesu, pa za 20 odstotkov. 
                    </br></br>
                    <span>Torej, zmigaj se! ;)</span>
                    </p>
                    <a href="{{ site.baseurl }}/blogpostssi.html">Nazaj</a>
            </div>
        </div>
    </div>
</section>
  {% include footersi.html %}
</body>

</html>