<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
<a href="/si"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">To je Movinun blog - zbirka drobnih nasvetov, trikov in informacij</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                     <img src="{{ site.baseurl }}/img/gots.jpg" alt="dress">
                    <h2 class="post-title">Kaj je SMET (svetovna merila za ekološke tkanine) - v originalu GOTS (global organic textile standard?)</h2>
                    <div class="date">
                        <p>20. marec, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    Kot morda veste, smo se odločili, da uporabljamo tkanine, ki se ponašajo s certifikatom Svetovnih meril za ekološke tkanine (SMET, v originalu GOTS - Global organic textile standard). Kaj za vraga je SMET? ;)
                    </br></br>
                    Po našem mnenju gre za prav dobro zadevo, saj gre za merila (http://www.global-standard.org/), ki zagotavljajo, da so tkanine po celotni preskrbovalni verigi (od sajenja do predelave in izdelave) izdelovane okoljsko in družbeno odgovorno. To merila SMET zagotavljajo s certificiranjem celotne preskrbovalne verige, vsak člen v njej je deležen pregleda vsaj vsaka tri leta (večina izmed njih vsako leto), občasno pa tudi nenapovedanih pregledov. Vsak izmed členov v verigi mora dosegati različne kriterije glede varovanja okolja (preverja se, kakšna je skrb za prst, koliko in kakšne kemikalije se uporabljajo, kako se ravna z odpadki, energijo, vodo ...) in kriterije glede skrbi za ljudi (kot so ustrezna zaposlitev, delovni pogoji, razvoj, človekove pravice, trajnostna naravnanost, skladnost z zakoni ...).</br>
                    </p>
                    <p class="text-faded">
                    Merila razvijajo različne organizacije. Zagotavljajo, da je izdelek izdelan iz vsaj 70 % ekoloških vlaken (oznaka razreda 2) ali vsaj iz 95 % ekoloških vlaken (oznaka razreda 1). Sami pri proizvodnji naših izdelkov uporabljamo tkanine z oznako reda 1, saj želimo porabnikom priskrbeti oblačila, ki so etično sprejemljiva tako z okoljskega kot tudi družbenega vidika, čim prej pa si želimo pridobiti tudi certifikat SMET. Da bi vam pomagali biti boljši (na pogled). ;) </p>
                    <p class="text-faded">
                    Lahko si ogledate ta <a href="www.youtube.com/watch?v=TMmLCPuerQg" target="_blank">video</a> za več informacij.</p>
                    <p class="text-faded">
                    Veseli bomo vaših komentarjev in predlogov (zaenkrat) na naši <a href="https://www.facebook.com/movinun" target="_blank">Facebook</a> strani.
                    </p>
                    <a href="{{ site.baseurl }}/blogpostssi.html">Nazaj</a>
            </div>
        </div>
    </div>
</section>
  {% include footersi.html %}
</body>

</html>