<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
<a href="/si"><img src="img/logo.png" class="logo-center" alt=""></a>
    <section class="bg-primary padding-0" id="about">
    <h1 class="blog-title">To je Movinun blog - zbirka drobnih nasvetov, trikov in informacij</h1>
    <div class="container padding-50">
        <div class="post row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            		<img src="{{ site.baseurl }}/img/thatsrubbish.jpg" alt="dress">To so smeti</h2>
                    <div class="date">
                        <p>feb. 28th, 2016</p>
                    </div>
                    <hr class="colour">
                    <p class="text-faded">
                    No, tudi drugi opomnik, kako lahko pomagamo okolju, je nekaj, kar pravzaprav vsi vemo. Je pa enako pomemben kot potovati zeleno.

                    </br></br>
                    <span>ZMANJŠAJ KOLIČINO SMETI</span>
                    </br></br>
                    To lahko dosežemo na razline načine, tule pa je nekaj predlogov, kako. Če imate že veliko znanja o tem, vseeno upamo, da najdete kaj novega.</br></br>
                    Lotimo se dveh področij, kjer lahko to storimo:
                    </p>
                    <p class="text-faded">
                    <span>1. V trgovini</span>
                    </br>
                    Precej očitno je, da lahko s sabo prinesete vrečko, ki jo lahko uporabite večkrat. Če kupujete manjše stvari, vrečke niti ne potrebujete. Veliko nas nosi s seboj torbe, torej velikokrat niti ni potrebe, da bi imeli še vrečko. Če pa ste jo pozabili in jo resnično potrbujete, uporabite papirnato ali razgradljivo. Okolje vam bo hvaležno.
                    Preden začnete nakupoveti, premislite. Premislite, kaj kupujete. Ali lahko kupite isto z manj embalaže. Če določene stvari kupujete večkrat - ali jih lahko kupite v večji embalaži? Na ta način lahko prihranite nekoliko denarja in ne zapolnite toliko vašega koša za odpadke. Seveda pa pazite, da ni embalaža dvojna - za posamezen izdelek in pakiranje večih.
                    Kar lahko premislite je še, ali lahko kupite kaj rabljenega ali si sposodite. Še posebej tisto, česar ne uporabljate dnevno. Pa še rečete lahko, da je vintage ;)
                    Kupujte predmete, ki jih lahko ponovno uporabite, denimo baterije, ki jih lahko ponovno napolnite. So veliko boljše od tistih za enkratno uporabo, saj veste, da jih boste imeli pri roki, ko jih boste potrebovali.
                    </p>
                    <p class="text-faded">
                    <span>2. Doma</span>
                    </br>
                    Včasih stvari, ki jih ne potrebujemo več, lahko potrebuje kdo drug. Torej ne zavrzite še starih knjig ali foteljev. Morda jih lahko celo prodate in nekaj zaslužite.
                    Ko pripravljate jedi, skušajte to početi tako, da jih ne pripravite preveč. Pogosto sličimo o tem, koliko pojemo, o rani, ki jo zavržemo, pa se manj govori. V restavracijah dobite, kar je na meniju, doma pa lahko precej zmanjšate količino zavržene hrane.
                    Za druge stvari, ki jih imate doma, reciklirajte in žlahtnite (upcycle). Reciklirajte svoje stare obleke, star papir, steklenice ... Žlahtnite pa lahko pravzaprav karkoli. O tem obstaja veliko asvetov na spletu. Lahko ste ustvarjalni in zabavno je, stvari pa boste cenili še bolj, če boste vanje vložili nekaj časa in dela.
                    </br></br>
                    Seveda obstaja še več načinov, da zmanjšate količino odpadkov. Nekaj nasvetov, kako, da lahko začnete, smo vam dali, veseli pa bomo komentarjev in predlogov (zaenkrat) na naši <a href="https://www.facebook.com/movinun" target="_blank">Facebook</a> strani.
                    </p>
                    <a href="{{ site.baseurl }}/blogpostssi.html">Nazaj</a>
            </div>
        </div>
    </div>
</section>
  {% include footersi.html %}
</body>

</html>