<!DOCTYPE html>
<html lang="si">

{% include headsi.html %}

<body id="page-top">
  {% include headersi.html %}
  {% include call-to-actionsi.html %}
  {% include footersi.html %}
<script type="text/javascript" id="cookieinfo"
    src="//cookieinfoscript.com/js/cookieinfo.min.js"
    data-bg="rgba(189, 204, 212, 1)"
    data-font-family="Open+Sans"
    data-message="Naša stran uporablja piškotke zaradi zagotavljanja boljše uporabniške izkušnje in spremljanja statistike obiska."
    data-linkmsg="Želim izvedeti več."
    data-fg="#FFFFFF"
    data-link="#222"
    data-font-size="14px"
    data-font-family="verdana"
    data-cookie="CookieInfoScript"
    data-moreinfo="{{ site.baseurl }}/privacypolicy.html"
    data-text-align="left"  
    data-divlinkbg="#E9455E"
    data-divlink="#fff"
    data-close-text="Razumem!">
</script>
</body>

</html>